.about {
  position: relative;
  z-index: 8;

  padding-bottom: 82px;
  .background();
}

.about__title {
  .headline-index();
}

.about__text {
  margin-bottom: 20px;
  .font-style(@font-weight: 300; @font-color: @basic-white);
}
