.alphabet {
  margin: 0;
  padding: 0;

  &--filter {
    border: none;
  }
}

.alphabet__letters {
  display: flex;
  flex-wrap: wrap;
}

.alphabet__letter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43.5px;
  height: 40px;

  .font-style-middle(14px; 18px; @basic-blue-light);

  border-right: 1px solid @basic-blue-grey;
  border-bottom: 1px solid @basic-blue-grey;
  background-color: @basic-white;

  cursor: pointer;

  &:nth-child(5n) {
    border-right: 0;
  }
}

.alphabet input {
  .visually-hidden();

  &:checked + .alphabet__letter {
    background-color: @bg-base-light;
  }
}

.alphabet--filter .alphabet__letter {
  .font-style-middle(14px; 14px; @basic-blue-light);
}

.alphabet--filter input:checked + .alphabet__letter {
  color: @basic-white;
  background-color: @basic-blue-light;
}


.alphabet__countries {
  width: 100%;
  min-height: 305px;
  padding: 20px;
  border: none;
  .font-style-normal(16px; 22px; @special-grey);

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: @bg-base-light;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: @basic-white;
  }

  &::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: @basic-blue-grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-corner {
    background-color: @bg-base-light;
  }
}

.alphabet__country {
  margin-bottom: 5px;
}

.alphabet__country:last-child {
  margin-bottom: 0;
}


@media (min-width: @tablet-width) {
  .alphabet {
    display: flex;
  }

  .alphabet__letters {
    width: 262px;
    margin: 35px 79px 33px 27px;

    border: 1px solid @basic-blue-grey;
    border-bottom: 0;
  }

  .alphabet__letter {
    width: 52px;
    height: 70px;

    .font-style-middle(20px; 20px; @basic-blue-light);
  }

  .alphabet input:checked + .alphabet__letter {
    background-color: @basic-blue-light;
    color: @basic-white;
  }

  .alphabet__countries {
    flex: 1;
    padding: 35px 5px 0 22px;
    border-left: 1px solid @special-grey-lighter;
  }

  .alphabet__country {
    margin-bottom: 6px;
    .font-style-normal(20px; 20px; @special-grey);
  }
}


@media (min-width: @desktop-width) {
  .alphabet__letters {
    gap: 14px;
    width: 362px;
    margin: 30px 102px 36px 25px;

    border: none;
  }

  .alphabet__letter {
    width: 60px;
    height: 70px;

    .font-style-middle(20px; 20px; @basic-blue-light);

    border-radius: 4px;
    border: 1px solid @basic-blue-grey;

    &:nth-child(5n) {
      border-right: 1px solid @basic-blue-grey;
    }
  }

  .alphabet__countries {
    padding: 30px 5px 0 20px;
  }
}
