.business-fee {
  .hide();
  position: relative;
  left: -25px;

  width: 270px;
  padding-top: 34px;
  .background(20px; 20px; 20px; 20px; @basic-white);
  box-shadow: 0 2px 8px @shadow-grey-light;

  @media (min-width: @desktop-width) {
    width: 750px;
  }
}

.business-fee > h2 {
  .visually-hidden();
}

.business-fee__title {
  .headline-index();
  padding-left: 50px;
}

.business-fee__list {
  margin-top: 28px;
  padding: 0 25px;
  list-style: none;
}

.business-fee__item {
  display: block;
  min-height: 66px;
  padding: 6px 0;

  border-top: 1px solid @special-grey-light;

  @media (min-width: @tablet-width) {
    padding: 14px 0;
  }
}

.business-fee__item:last-child {
  border-bottom: 1px solid @special-grey-light;
}

.business-fee__link {
  .font-style-regular(@font-color: @special-grey;);
  text-decoration: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    .font-style-regular(22px; 28px; @font-color: @special-grey);
  }
}

.business-fee__link p {
  margin: 0;
}

.business-fee__button {
  margin-top: 34px;
  .background(@bottom-right:20px; @bottom-left: 20px; @bg-color: @bg-button);
}
