.companions {
  position: relative;
  top: -50px;
  z-index: 6;

  .background(@bg-color: @basic-blue);
}

.companions > .container {
  padding-top: 97px;
  padding-bottom: 31px;
}

.companions__header {
  padding-left: 24px;
  padding-bottom: 7px;
}

.companions__title {
  .headline-index();
}

.companions__text {
  margin-bottom: 20px;
}

.companions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9px 50px;
  margin-bottom: 20px;
  padding-top: 29px;
}

.companions__item {
  box-shadow: 0 2px 4px @shadow-grey-dark;
  border-radius: 5px;
}

.companions__button {
  display: flex;
}


@media (min-width: @tablet-width) {
  .companions > .container {
    padding-top: 160px;
  }

  .companions__list {
    margin-bottom: 81px;
  }
}


@media (min-width: @desktop-width) {
  .companions > .container {
    display: flex;
    flex-wrap: wrap;

    padding-left: 69px;
    padding-bottom: 87px;
  }

  .companions__list {
    margin: 0 auto 0 170px;
    padding-top: 0;
  }

  .companions__button {
    position: relative;
    top: -80px;

    width: 280px;
  }
}
