.contacts {
  margin: 0;
  padding: 0;
  list-style: none;

  &--intro {
    display: flex;
    align-items: center;
  }


}

.contacts__item {
  padding-bottom: 27px;
}

.contacts__link {
  position: relative;
  display: inline-block;
  padding-left: 55px;

  .font-style(16px; 18px; 700; @basic-yellow);
  text-decoration: none;
  text-transform: uppercase;

  &--invert {
    color: @text-blue-dark;
  }
}

.contacts--intro .contacts__link {
  padding-left: 40px;
}

.contacts__link::before {
  position: absolute;
  top: -10px;
  left: 0;

  content: "";
  display: inline-block;
  width: 45px;
  height: 45px;
  vertical-align: middle;

  border-radius: 50%;
}

.contacts--intro .contacts__link::before {
  width: 40px;
  height: 40px;
}

.contacts__link--phone::before {
  background-color: @special-orange;
}

.contacts__link--email::before {
  background-color: @special-yellow-dark;
}
