.directions {
  position: relative;
  top: -20px;
  z-index: 7;

  padding-top: 68px;
  padding-bottom: 34px;

  .background(@bg-color: @bg-base-light);
}

.directions__item {
  text-decoration: none;
}

.directions__title {
  .headline-index();
}

.directions__text {
  margin-bottom: 60px;
}

.directions__button {
  width: 100%;
  margin-top: 25px;
}
