.direction-card {
  margin-bottom: 9px;

  .outline(fuchsia);
}


.direction-card__info {
  padding: 26px 24px;
  background-color: @basic-white;
}

.direction-card__title {
  .font-style(21px; 21px; 700; @basic-black);
}

.direction-card__tagline {
  .font-style(@line-height: 18px; @font-weight: 500);
  opacity: 0.3;
}

.direction-card__users {
  .font-style(@line-height: 20px; @font-weight: 500; @font-color: @text-basic-blue);
  opacity: 0.3;
}
