.directions {
  position: relative;
  top: -20px;
  z-index: 7;

  padding-top: 68px;
  padding-bottom: 34px;

  .background(@bg-color: @bg-base-light);

  @media (min-width: @desktop-width) {
    padding-left: 69px;
  }
}

.directions > .container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "list header"
      "list button";
    gap: 0 172px;
  }
}

.directions__list {
  grid-area: list;
  display: flex;
  flex-direction: column;
  margin-top: 104px;

  @media (min-width: @desktop-width) {
    margin-top: 0;
    padding-top: 0;
  }
}

.directions__item {
  text-decoration: none;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.directions__title {
  .headline-index();
}

.directions__text {
  margin-bottom: 60px;
  color: @special-grey;
}

.directions__button {
  display: flex;

  @media (min-width: @desktop-width) {
    width: 275px;
  }
}
