.footer {
  width: 100%;
  position: absolute;
  bottom: -100px;
  z-index: 3;

  padding-top: 37px;
  .background(30px; 30px; 0; 0; @basic-white);
}

.footer__copyright-text {
  .font-style(@line-height: 16px; @font-weight: 400);
}
