.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: @bg-base-dark;

  &--sticky {
    position: sticky;
    top: 0;
    z-index: 10;

    background-color: @basic-white;
  }
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 94px;
  padding: 25px 28px;
}

.header__toggle {
  width: 25px;
  height: 19px;

  border: none;
  background-color: #cccccc;

  cursor: pointer;
}

.header__login {
  display: none;
}

.header__nav {
  width: 320px;
  height: 568px;
  margin: 0 auto;
  padding: 0 25px;
  background-color: @basic-white;

  .outline(#B03F35);

  &--is-hidden {
    .visually-hidden();
  }
}

.header__contacts {
  margin-bottom: 12px;
}

.header__social {
  margin: 0 auto;
}
