.header {
  position: relative;
  min-height: 73px;
  background-color: @basic-blue;

  &--sticky {
    position: sticky;
    top: 0;
    z-index: 10;

    max-height: 90px;

    background-color: @basic-white;
  }
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 32px;
}

.header__toggle {
  width: 25px;
  height: 15px;
  margin: 0;
  padding: 0;

  border: 0;
  cursor: pointer;
}

.header__login {
  display: none;
}

.header__nav {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 10;

  display: block;
  .hide();
  width: 100%;
  padding: 0 25px;

  background-color: @basic-white;
}

.header__contacts {
  margin: 0;
}


@media (min-width: @tablet-width) {
  .header {
    min-height: 132px;
  }

  .header > .container {
    padding-top: 40px;
    padding-bottom: 42px;
  }

  .header__toggle {
    width: 22px;
    height: 22px;
  }

  .header__login {
    display: flex;
  }

  .header__nav {
    top: 130px;
    padding: 0 40px;
  }
}


@media (min-width: @desktop-width) {
  .header {
    &--sticky {
      top: calc(100vh - 90px);
      min-height: 90px;
    }
  }

  .header__logo {
    margin-right: 45px;
  }

  .header__toggle {
    display: none;
  }

  .header__login {
    display: none;
  }

  .header__nav {
    position: relative;
    top: 0;

    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding: 0;

    background-color: transparent;
  }

  .header__contacts {
    position: absolute;
    right: 188px;

    display: flex;
  }

  .header--sticky > .container {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .header--sticky .nav__link {
    color: @blue-dark;
  }

  .header--sticky .contacts__link {
    color: @basic-white;
  }

  .header--sticky .logo::after {
    background-color: @blue-dark;
  }
}
