.intro {
  display: flex;
  background-color: @bg-base-dark;
}

.intro > h2 {
  .visually-hidden();
}

.intro__buttons {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.intro__title {
  display: block;
  text-align: center;
  padding-top: 20px;
  .font-style(36px; 40px; 700; @basic-white);

  @media (min-width: @tablet-width) {
   .font-style(60px; 70px; 700; @basic-white);
  }
}

.intro__quote {
  margin: 28px 0;
  color: @basic-white;
}

.intro__quote-text {
  margin-top: 28px;
  margin-bottom: 18px;
}

.intro__quote-cite {
  font-weight: 700;
  font-style: normal;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }
}

.intro__steps {
  display: flex;
  flex-direction: column;
  height: 320px;
  margin-top: 0;
  margin-bottom: 33px;
  padding-left: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.intro__step {
  height: 160px;
  padding-top: 22px;
  padding-left: 24px;

  .font-style(18px; 18px; 700; @text-basic-blue);
  list-style: none;

  @media (min-width: @tablet-width) {
    width: 344px;
    min-height: 140px;
    .font-style(24px; 24px; 700; @text-basic-blue);
  }

  &--one {
    .background(10px; 10px; 0; 0; @special-orange);

    @media (min-width: @tablet-width) {
      width: 365px;
      .background(20px; 20px; 0; 0; @special-orange);
    }
  }

  &--two {
    margin-top: -10px;
    .background(10px; 10px; 0; 0; @vivid-orange);

    @media (min-width: @tablet-width) {
      margin-top: 0;
      margin-left: -30px;
      .background(20px; 20px; 0; 0; @vivid-orange);
    }
  }

  &--three {

    margin-top: -10px;
    .background(0; 0; 10px; 10px; @special-yellow-dark);

    @media (min-width: @tablet-width) {
      width: 365px;
    .background(0; 0; 20px; 20px; @special-yellow-dark);
    }
  }

  &--four {
    margin-top: -10px;
    border-radius: 10px 10px 10px 10px;
    .background(0; 0; 10px; 10px; @basic-yellow);

    @media (min-width: @tablet-width) {
      margin-left: -30px;
      .background(0; 0; 20px; 20px; @basic-yellow);
    }
  }

}
