.logo {
  .outline(green);
  position: relative;
  width: 100px;
  height: 15px;

  &--secondary {
    width: 100px;
    height: 15px;
  }
}

@media (min-width: @tablet-width) {
  .logo {
    width: 166px;
    height: 42px;
  }
}

@media (min-width: @desktop-width) {
  .logo {
    width: 200px;
    height: 52px;
    margin-right: 145px;
  }

  .logo::after {
    content: "";
    position: absolute;
    left: 195px;
    top: 18px;
    display: block;
    width: 60px;
    height: 2px;
    background-color: @basic-white;
  }
}
