.main {
  position: relative;
}

.main__title {
  &--subpage {
    display: block;
    .headline-subpage();
    .background(0; 0; 20px; 20px; @bg-base-dark);
  }

  &--subpage::after {
    content: "";
    position: relative;
    bottom: -10px;
    display: block;
    width: 214px;
    height: 5px;
    .background(4px; 4px; 4px; 4px; @special-orange);
  }
}
