.page {
  .box-sizing();
}

.page__body-index {
  margin: 0 auto;

  .regular-font-family();
  .font-style();

  @media (min-width: @tablet-width) {
    .font-style(28px; 33px; 300; @basic-white);
  }
}

.page__container {
  position: relative;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }
}
