.page {
  height: 100%;
}

.page__body-index {
  position: relative;

  min-width: 320px;
  margin: 0;
  padding: 0;

  .regular-font-family();
  .font-style-regular();

  @media (min-width: @tablet-width) {
    min-width: 768px;
    .font-style-regular(28px; 33px);
  }

  @media (min-width: @desktop-width) {
    min-width: 1440px;
    .font-style-regular(28px; 33px);
  }
}
