.plans {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;

  list-style-position: inside;
  .font-style-bold(16px; 16px; @basic-blue-light);
}

.plans__item {
  min-height: 154px;
  margin-bottom: 10px;
  padding: 24px 41px;
  .background(10px; 10px; 10px; 10px; @basic-white);
}

.plans__title {
  margin-bottom: 20px;
}

.plans__text {
  margin: 20px 0 24px;
  .font-style-middle(14px; 14px; @basic-blue-light);
}

.plans__text > p {
  margin: 0;
  padding: 0;
}

.plans__change-button {
  display: inline-block;
  .font-style-middle(14px; 14px; @special-black-3);
  text-decoration: none;
  text-transform: uppercase;
}
