.profile {
  position: relative;

  background-color: @basic-white;
}

.profile__level {
  position: absolute;
  top: 17px;
  left: 16px;
  z-index: 1;

  width: 60px;
  height: 60px;

  text-align: center;

  border-radius: 50%;
  background-color: @special-black-6;
}

.profile__level-number {
  margin-top: 15px;
  margin-bottom: 0;

  .font-style(24px; 24px; 700; @basic-white);
}

.profile__level-text {
  margin: 0;

  .font-style(14px; 14px; 400; @basic-white);
}

.profile__favorites-countries {
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile__title {
  text-decoration: none;
}

.profile__name {
  margin: 0;
  .font-style(21px; 21px; 700; @text-basic-blue-light);
}

.profile__hashtags {
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile__hashtags-link {
  .font-style(@line-height: 18px);
  text-decoration: none;
}

.profile__transports {
  margin: 0;
  padding: 0;
  list-style: none;
}
