.profile-form {
  background-color: @bg-base-light;
}

.profile-form h2 {
  .visually-hidden();
}

.profile-form__title {
  .headline-form();
}

.profile-form__user {
  background-color: @bg-base-light;
}

.profile-form__user-plans {
  min-height: 458px;
  .background(30px; 30px; 0; 0; @special-blue-light);
}

.profile-form__add-plan {
  margin-top: -30px;
  .background(30px; 30px; 0; 0; @special-blue-grey);
}
