.route {
  position: relative;
  top: -110px;
  z-index: 3;

  .background(@bg-color: @basic-yellow);
}

.route > .container {
  padding-top: 35px;
  padding-bottom: 35px;
}

.route h2 {
  .visually-hidden();
}

.route__text {
  .font-style-bold(@font-color: @basic-blue-light);
  text-transform: uppercase;
}

.route__button {
  display: flex;
  margin-top: 35px;
}

.route-map {
  position: relative;
  top: -140px;
  z-index: 2;

  max-width: 100%;
  min-height: 326px;
}


@media (min-width: @tablet-width) {
  .route__text {
    padding-left: 94px;
    .font-style-bold(28px; 28px; @font-color: @basic-blue);
  }

  .route__text br {
    display: none;
  }

  .route__button {
    margin-top: 44px;
  }

  .route-map {
    min-height: 581px;
    background-color: @special-grey-light;
  }
}


@media (min-width: @desktop-width) {
  .route > .container {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 56px;
  }

  .route__button {
    margin-top: 0;
    margin-left: 147px;
  }

  .route-map {
    min-height: 581px;
  }
}
