.social {
  width: 135px;
  padding-top: 12px;
  padding-bottom: 41px;
  padding-left: 0;
  list-style: none;
}

.social__link {
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  padding-top: 11px;

  font-size: 0;
  line-height: 0;
  text-align: center;

  &--has-bg {
    background-color: @basic-yellow;
    border-radius: 50%;
  }
}
