.subscribe-fee {
  position: relative;
  top: -70px;
  z-index: 5;

  padding-top: 57px;
  padding-bottom: 31px;

  .background(@bg-color: @bg-base-light);
}

.subscribe-fee > h2 {
  .visually-hidden();
}

.subscribe-fee__title {
  .headline-index();
}

.subscribe-fee__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subscribe-fee__item {
  display: block;
}

.subscribe-fee__link {
  .font-style(@line-height: 16px);
  text-decoration: none;
}
