.subscribe-fee {
  position: relative;
  top: -70px;
  z-index: 5;

  padding-top: 57px;
  padding-bottom: 31px;

  .background(@bg-color: @bg-base-light);
}

.subscribe-fee > h2 {
  .visually-hidden();
}

.subscribe-fee__title {
  display: inline-block;
  width: 107px;
  .headline-index();

  @media (min-width: @tablet-width) {
    width: 100%;
    text-align: center;
  }
}

.subscribe-fee__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 73px;
    margin-bottom: 59px;
    padding-left: 90px;
  }
}

.subscribe-fee__item {
  display: block;
  min-height: 65px;
  padding: 6px 0;

  border-top: 1px solid @special-grey-light;

  @media (min-width: @tablet-width) {
    padding: 20px 0;
    margin-right: 40px;
  }
}

.subscribe-fee__item:last-child {
  border-bottom: 1px solid @special-grey-light;
}


.subscribe-fee__link {
  .font-style-regular(@line-height: 16px; @font-color: @special-grey);
  text-decoration: none;

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
    .font-style-regular(28px; 28px; @font-color: @special-grey);
  }
}

.subscribe-fee__link::before {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: -65px;
    right: -35px;
    z-index: -1;

    content: "";
    display: block;
    width: 198px;
    height: 165px;
    .background(20px; 20px; 20px; 20px; @bg-color: @special-blue);
  }
}

.subscribe-fee__link p {
  margin: 0;
  margin-top: 6px;
}

.subscribe-fee__button {
  display: flex;
  margin-top: 31px;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding-left: 90px;
  }
}
