.tooltip {
  display: flex;
  width: 70px;
  height: 30px;
  align-items: center;
  justify-content: center;

  .font-style-normal(10px; 10px; @basic-white);
  border-radius: 4px;

  background-color: @bg-tooltip;
}
