.outline(@color: @basic-white) {
  outline: 1px dashed @color;
  outline-offset: 1px;
}

.box-sizing() {
  box-sizing: border-box;
}

.visually-hidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.headline-index() {
  margin-top: 0;
  margin-bottom: 19px;
  .font-style-bold(24px; 24px; @special-orange);

  @media (min-width: @tablet-width) {
    .font-style-bold(45px; 45px; @special-orange);
  }
}

.headline-subpage() {
  display: block;
  min-height: 70px;
  margin: 0;
  padding: 20px 25px 12px;
  .font-style-bold(36px; 36px);

  @media (min-width: @tablet-width) {
    padding: 88px 75px 66px;
    .font-style-bold(60px; 60px);
  }

  @media (min-width: @desktop-width) {
    padding: 89px 120px 68px;
  }
}

.background(@top-left: 0; @top-right:0; @bottom-right: 30px; @bottom-left: 30px; @bg-color: @basic-blue) {
  background-color: @bg-color;
  border-top-left-radius: @top-left;
  border-top-right-radius: @top-right;
  border-bottom-right-radius: @bottom-right;
  border-bottom-left-radius: @bottom-left;
}

//временно для вёрстки без js
.hide(@display: none;) {
  display: @display;
}

.input-regular() {
  border-radius: 4px;
  border: 1px solid @basic-blue-grey;
}
